$gutter-width-px: 20 !default;
$use-clearfix: false !default;

@mixin device-type($value: "") {
	%#{$value}one-whole {
		width: 100%;
	}

	%#{$value}one-half {
		width: 50%;
	}

	%#{$value}one-third {
		width: percentage(1/3);
	}

	%#{$value}two-thirds {
		width: percentage(2/3);
	}

	%#{$value}one-quarter {
		width: 25%;
	}

	%#{$value}three-quarters {
		width: 75%;
	}

	%#{$value}one-fifth {
		width: 20%;
	}

	%#{$value}two-fifths {
		width: 40%;
	}

	%#{$value}three-fifths {
		width: 60%;
	}

	%#{$value}four-fifths {
		width: 80%;
	}

	%#{$value}one-sixth {
		width: percentage(1/6);
	}

	%#{$value}five-sixths {
		width: percentage(5/6);
	}

	%#{$value}one-seventh {
		width: percentage(1/7);
	}

	%#{$value}two-sevenths {
		width: percentage(2/7);
	}

	%#{$value}three-sevenths {
		width: percentage(3/7);
	}

	%#{$value}four-sevenths {
		width: percentage(4/7);
	}

	%#{$value}five-sevenths {
		width: percentage(5/7);
	}

	%#{$value}six-sevenths {
		width: percentage(6/7);
	}

	%#{$value}one-eigth {
		width: percentage(1/8);
	}

	%#{$value}three-eigths {
		width: percentage(3/8);
	}

	%#{$value}five-eigths {
		width: percentage(5/8);
	}

	%#{$value}seven-eigths {
		width: percentage(7/8);
	}

	%#{$value}one-ninth {
		width: percentage(1/9);
	}

	%#{$value}two-ninths {
		width: percentage(2/9);
	}

	%#{$value}four-ninths {
		width: percentage(4/9);
	}

	%#{$value}five-ninths {
		width: percentage(5/9);
	}

	%#{$value}seven-ninths {
		width: percentage(7/9);
	}

	%#{$value}eight-ninths {
		width: percentage(8/9);
	}

	%#{$value}one-tenth {
		width: percentage(1/10);
	}

	%#{$value}three-tenths {
		width: percentage(3/10);
	}

	%#{$value}seven-tenths {
		width: percentage(7/10);
	}

	%#{$value}nine-tenths {
		width: percentage(9/10);
	}

	%#{$value}one-eleventh {
		width: percentage(1/11);
	}

	%#{$value}two-elevenths {
		width: percentage(2/11);
	}

	%#{$value}three-elevenths {
		width: percentage(3/11);
	}

	%#{$value}four-elevenths {
		width: percentage(4/11);
	}

	%#{$value}five-elevenths {
		width: percentage(5/11);
	}

	%#{$value}six-elevenths {
		width: percentage(6/11);
	}

	%#{$value}seven-elevenths {
		width: percentage(7/11);
	}

	%#{$value}eight-elevenths {
		width: percentage(8/11);
	}

	%#{$value}nine-elevenths {
		width: percentage(9/11);
	}

	%#{$value}ten-elevenths {
		width: percentage(10/11);
	}

	%#{$value}one-twelth {
		width: percentage(1/12);
	}

	%#{$value}five-twelths {
		width: percentage(5/12);
	}

	%#{$value}seven-twelths {
		width: percentage(7/12);
	}

	%#{$value}eleven-twelths {
		width: percentage(11/12);
	}

	%#{$value}grid {
		margin-left: -$gutter-width-px + px;
		@if $use-clearfix == false {
			overflow: hidden;
		}
		@else if $use-clearfix == true {
			@extend %clearfix;
		}
	}

	%#{$value}grid__item {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-left: $gutter-width-px + px;
		float: left;
	}
}

%clearfix {
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
	*zoom: 1;
}

@include device-type;

@include breakpoint(baby-bear) {
	@include device-type(baby-bear-);
}

@include breakpoint(mama-bear) {
	@include device-type(mama-bear-);
}

@include breakpoint(papa-bear) {
	@include device-type(papa-bear-);
}